@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  margin: 0%;
  padding: 0%;
  background-color: white;
}
h1 {
  background-color: #dbdbdb;
  padding: 1%;
  text-align: center;
  font-family: 'Open Sans';
  width: 100%;
}

#myContainer {
  background-color: #535353;
  padding: 20px;
}

#color-input {
  display: none;
}

.square {
  height: 50px;
  width: 50px;
  margin: 5px;
  background-color: white;
  border-color: black;
  border-width: thin;
  border-style: solid;
}

.square:hover {
  box-shadow: 5px 5px 5px;
}

input {
  width: 80px;
}

canvas:hover {
  cursor: url("cursor.png") 10 10, auto;
}

#targetContainer {
  background-color: white;
  padding: 50px;
}

#targetColor {
  height: 100px;
  width: 100px;
}