@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  margin: 0%;
  padding: 0%;
  background-color: #535353;
}
h1 {
  background-color: #dbdbdb;
  padding: 1%;
  text-align: center;
  font-family: 'Open Sans';
}

#color-input {
  display: none;
}

.square {
  height: 50px;
  width: 50px;
  margin: 5px;
  background-color: white;
  border-color: black;
  border-width: thin;
  border-style: solid;
}

.square:hover {
  box-shadow: 5px 5px 5px;
}

#stepSize {
  width: 80px;
}

canvas:hover {
  cursor: url("https://content.invisioncic.com/Mtorrutor/profile/photo-106.png") 10 10, auto;
}

/* #color-block {
  width: 200px;
  height: 200px;
}

#color-strip {
  height: 200px;
  width: 25px;
} */