@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  margin: 0%;
  padding: 0%;
  background-color: #535353;
}
h1 {
  color: white;
  padding-top: 1rem;
  text-align: center;
  font-family: 'Open Sans';
  width: 100%;
}

#color-input {
  display: none;
}

.square {
  height: 50px;
  width: 50px;
  margin: 5px;
  background-color: white;
  border: black solid thin;
}

.square:hover {
  box-shadow: 5px 5px 5px;
}

input[type=number] {
  width: 80px;
}

input[type=radio] {
  margin: 10px;
}

canvas:hover {
  cursor: url("cursor.png") 10 10, auto;
}

#targetContainer {
  padding: 1rem;
}

#targetColor {
  visibility: hidden;
}

.colorSquare {
  height: 100px;
  width: 100px;
  border: black solid thin;
}

#userColor {
  border: none;
}

button {
  margin-right: 1rem;
}

a {
  text-decoration: underline;
}

#results {
  visibility: hidden;
}